* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe420;
    height: 100vh;
}

/* Primer pantalla */

.laboratoriaimg {
    height: 15%;
    width: 35%;
    margin-top: 23%;
    margin-left: 33%; 
}

/* Segunda Pantalla */

.side1 {
    background-color: #fff;
    height: 43rem;
    margin-top: 0%;

}

.side2 {
    background-color: black;
    float: right;
    height: 43rem;
    margin-top: -52.15%;
}

.labimg {
    height: 5%;
    width: 40%;
    margin-top: 5%;
}

.blackL {
   width: 30%;
   display: inline-block;
   margin-top: 35%;
   margin-left: 35%;
}

.whiteL {
    width: 30%;
    margin-top: 35%;
    margin-left: 35%;

 }

.title {
    font-family: 'Bitter', serif;
    font-size: 60px;
    text-decoration: none;

}

hr {
    width: 35%;
    margin-left: 32%;
    margin-bottom: -1%;
    margin-top: 1%;
}

.subtitle {
    font-family: 'Open Sans', serif;
    font-size: 23px;
}

.h1 {
    margin-top: 6%;
}

.blackSide {
    color: #fff;
}


.line {
    margin-right: 80%;
}

/* Tercer Pantalla */

.navLx {
    background-color: #ffe420;
    
    
}


.codeQr {
    width: 35%;
    margin-top: -3%;
    margin-right: 20%;
 
}

.imgLBlack {
    width: 15%;
    margin-top: 3%;
    margin-left: 4%;
}

.x {
    width: 3%;
  margin-left: 180%;
  margin-top: 4%;

} 

.flecha1 {
    width: 20%;
    height: 20%;
}

.flecha2 {
    width: 20%;
    height: 20%;
    margin-top: 13%;
}

.titleAttend {
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: bold;
}

.qr {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    margin-top: -1%;
}

.message {
    font-family: 'Open Sans', serif;
    font-size: 30px;
    margin-top: -12%;

}

/* Cuarta Pantalla */

.date {
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: bold;
}

.card1 {
    height: 23%;
    width: 60%;
    background-color: #fff;
    margin-left: 20%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.textCard {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 6%;
}

.attendance {
    font-family: 'Open Sans', serif;
    font-size: 50px;
    margin-bottom: -6%;
    margin-top: -2%;
}

.card2 {
    height: 25%;
    width: 21%;
    margin-top: 4%;
    margin: 0 2% 0 2%;
    background-color: white;
}

.card3 {
    height: 25%;
    width: 17%;
    margin-top: -13%;
    margin-left: 41%;
    background-color: #fff;
}
.card4 {
    height: 25%;
    width: 17%;
    margin-top: -13.2%;
    margin-left: 60%;
    background-color: #fff;
}

.more {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 4%;

}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    justify-content: center;
}